{% extends "rec_system/base.html" %}
{% block content %}

<div>
    <h2>
        Welcome to the great album recommender app!
    </h2>
    <div>
        <ul role="toolbar">
            {% for album in albums %}
            <p>
                Album: {{ album.name|title }}
                Artist: {{ album.artist.name|title }}
                <img src={{album.imgurl}} alt="Italian Trulli">
                <li><button aria-setsize="4" aria-posinset="1"> Select </button></li>
            </p>
            
            {% endfor %}
        </ul>  
    </div>
  
</div>

{% endblock content %}